.header {
	height: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(230, 230, 230);
}
